body
{
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	font-size: 16px;
	width: 620px;	
	padding-top: 50px;
	padding-left: 130px;
	color: #000000;
	background-color:#ffffff;
}

h1
{
	text-shadow: 5px 5px 4px #aaaaaa;
	font-size: 47px;
}

a:link { background-color: #ffffff; color: #000000; }
a:visited { background-color: #ffffff; color: #000000; }
a:hover {background-color:#000000; color:#eeeeee; text-decoration:none;}
a:active { background-color: #ffffff; color: #000000; }

h3
{
	text-align: right;
	padding: 6px 6px 20px 20px;
	font-size: 100%;
	background-color: #666666;
	color: #ffffff
}

h3#jaap
{
	background-color: #444444;
	font-size: 100%;
}

h3#michael
{
	background-color: #eeeeee;
	color:#444444
}

h3#jason
{
	background-color: #eeeeee;
	color:#444444
}

p.entry
{
	color:#dddddd
}

p.entry:hover
{
	color:#444444	
}

a.entry
{
	color:#000000;
	text-decoration:none;
}

a.entry:hover
{
	color:#000000;
	background-color:#ffffff;
	text-decoration:underline;
}


