@import url("/css/reset.css");
@import url("/css/fonts.css");

body
{
    text-align: center;
    font: 18px/27px 'ProcionoRegular', Arial, sans-serif;
}

#container
{
	margin: 0 auto;
	width: 1000px;
	background: #fff;
}

#left
{
	float: left;
	width: 160px;
	padding: 20px 0;
	margin: 0 20px;
	display: inline;
}

#left h1
{
    text-align: justify;
}

#middle
{
	float: left;
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}

#right
{
	float: right;
	width: 200px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#main
{
    width: 640px;
    margin: 0 auto;
    text-align: justify;    
}

h1
{
    text-align: center;
    font: 60px/68px 'LeagueGothicRegular', Arial, sans-serif; letter-spacing: 0;
}

.center
{
    text-align: center;
}

.smill
{
    font-style:italic;
    font-size: small;
}

.quote
{
    color: #009;
    border-left: 1px solid #000;
    background-color: #eee;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 1.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -khtml-border-radius: 0.3em;
    border-radius: 0.3em;
    font-size: 90%;
}

.outline
{
    border: 1px solid #000;
}
