html { margin: 0px; height: 100%; padding: 0px; }
* { margin: 0px; padding: 0px; /* border: solid 1px red; /**/ }

body
{
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
	position: absolute;	
	color: #000000;
}

div#main
{
    margin: 100px;
    width: 700px;
}
   
body#index
{ 
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0%;
	bottom: 0%;
    background-image: url("/images/pentacorn.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;	
	background-color:#ffffff;	
}
	
p { margin: 1em; }
h1, h2, h3 { margin-bottom: 1em; }

img.outline
{
	border: solid 3px #000000;
	margin: 2px 2px 2px 2px;
	text-align: center;
}

h1
{
    text-shadow: 5px 5px 4px #aaaaaa;
	font-size: 47px;
}

a:link { background-color: #ffffff; color: #000000; }
a:visited { background-color: #ffffff; color: #000000; }
a:hover {background-color:#000000; color:#eeeeee; text-decoration:none;}
a:active { background-color: #ffffff; color: #000000; }

h3
{
	text-align: right;
	padding: 6px 6px 20px 20px;
	font-size: 100%;
	background-color: #666666;
	color: #ffffff
}

h3#jaap
{
	background-color: #444444;
	font-size: 100%;
}

h3#michael
{
	background-color: #eeeeee;
	color:#444444
}

h3#jason
{
	background-color: #eeeeee;
	color:#444444
}

p.entry
{
	color:#dddddd
}

p.entry:hover
{
	color:#444444	
}

a.entry
{
	color:#000000;
	text-decoration:none;
}

a.entry:hover
{
	color:#000000;
	background-color:#ffffff;
	text-decoration:underline;
}
