
body
{
    font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
    width: 100%;
	height: 100%;	
}

a { color: #000; }
a:link { color:#000; }
a:visited {color:#222;}
a:hover {color:#555; background-color:#eee; }
a:active {color:#555; }

div#main
{
    width: 640px;
    margin: 0 auto;
}

h3#michael
{
    font-size: 100%;
    text-align: right;
    background-color: #eee;
    color: #222;
}


h3#jaap
{
    font-size: 100%;
    text-align: right;
    background-color: #111;
    color: #fff;
}

h3#jason
{
    font-size: 100%;
    text-align: right;
    background-color: #ddd;
    color: #222;
}
