body
{
    text-align: center;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

div#main
{
    width: 640px;
    margin: 0px auto;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify; 
}

h1
{
    text-align: center;
    -moz-text-shadow: 2px 2px 1px #333;
    -khtml-text-shadow: 2px 2px 1px #333;
    -webkit-text-shadow: 2px 2px 1px #333;
    text-shadow: 2px 2px 1px #333;
}

.center
{
    text-align: center;
}

.smill
{
    font-style:italic;
    font-size: small;
}

.quote
{
    color: #009;
    border-left: 1px solid #000;
    background-color: #eee;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-left: 1.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -khtml-border-radius: 0.3em;
    border-radius: 0.3em;
    font-size: 90%;
}

.outline
{
    border: 1px solid #000;
}
