@import url("reset.css");
/*@import url("diagnostic.css");*/
/** { border: 1px solid red !important; }*/

header, footer, nav, article, section, aside, hgroup, menu { display: block; }

article { clear: both; }

body { font-size: 100%; font: normal 16px/1.5 "Gill Sans", "Gill Sans MT", GillSans, Calibri, "Trebuchet MS", sans-serif; }
html>body { font-size: 16px; } 
p, ul, blockquote, pre, td, th, label { margin-bottom: 1.5em; font-size: 16px; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; font-family: Verdana, sans-serif; /*outline: #9f9 1px dashed;*/ }
h1 { font-size: 4em; margin-bottom: 0.375em; }
h2 { font-size: 3em; margin-bottom: 0.5em; }
h3 { font-size: 2em; margin-bottom: 0.75em; }
.banner h1 { text-align: left; font-size: 2em; margin-bottom: 0.75em; color: #888; }

hgroup { position: relative; }

#container { width: 40em; margin: 0 auto; padding: 1.5em 0.5em; background-color: #fff; no-background-image: url(../data/baseline.png); }

p + p { text-indent: 1em; }
    
a { color: inherit; text-decoration: none; border-bottom: 1px solid #000; }
a:link { }
a:visited { border-bottom: 1px dashed #888; }
a:hover, a:focus, a:active { color: #333; border-bottom: 1px solid #888; }
    
.center-vertically { min-height: 10em; display: table-cell; vertical-align: middle; }
.center { text-align: center; }
.small { font-style: italic; }
.title hgroup h3 { font-size: 1em; font-weight: lighter; text-align: right; margin-top: -2em; }
    
blockquote { font-style: italic; text-indent: -0.4em; color: #444; }
blockquote ul { margin-left: 2em; }

footer { text-align: right; }

.not-visual { display: none; }
.geo { display: none; }
aside.vcard { float: right; width: 30%; }