%div(class="{{ class }}")
  %figure
    .fig.ratio{:class => "fig-ratio-{{ }}"}
      .fig-content
        {{ figcontent }}
      .fig-rhythm-trumps-semantics{:role => "presentation"}
        .fig-rhythm-sizer
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
        %div [%presentational empty%]
    %figcaption
      .fig-caption
        {{ figcaption }}
{% assign figcontent = '' %}{% assign figcaption = '' %}{% assign ratio = '' %}{% assign class = '' %}
