<div class='{{ class }}'>
  <figure>
    <div class='fig fig-ratio-{{ ratio }}'>
      <div class='fig-content'>
        {{ figcontent }}
      </div>
      <div class='fig-rhythm-trumps-semantics' role='presentation'>
        <div class='fig-rhythm-sizer'></div>
      </div>
    </div>
    <figcaption>
      <div class='fig-caption'>
        {{ figcaption }}
      </div>
    </figcaption>
  </figure>
</div>
{% assign figcontent = '' %}{% assign figcaption = '' %}{% assign ratio = '' %}{% assign class = '' %}
