{% capture flashvars %}
flv=/videos/{{ name }}.{{ width }}x{{ height }}.mp4&
startimage=/img/posters/{{ name }}.jpg&
skin=&
autoplay=0&
autoload=0&
loadonstop=0&
buffer=5&
buffermessage=&
margin=0&
playercolor=000000&
loadingcolor=ffffff&
buttoncolor=ffffff&
buttonovercolor=aabbee&
slidercolor1=ffffff&
slidercolor2=ffffff&
sliderovercolor=abcdef&
playeralpha=85&
iconplaycolor=ffffff&
iconplaybgcolor=000000&
iconplaybgalpha=85&
showiconplay=1&
showstop=1&
showvolume=1&
showloading=always&
showplayer=autohide&
showmouse=autohide&
showtime=2&
showfullscreen=1&
ondoubleclick=fullscreen
{% endcapture %}
