$blue-color         : #79b1fc;

$base-color         : #9cf;
$base-color-lt      : #667B87;
$base-color-ltt     : #033957;
$base-color-dk      : #C2EAFF;
$base-color-dkk     : #F1FAFF;

$second-color         : #FFC681;
$second-color-lt      : #877764;	
$second-color-ltt     : #573003;	
$second-color-dk      : #FFE2BF;	
$second-color-dkk     : #FFF8F0;
