<aside class="contact vcard">
        <span class="fn not-visual">Jaap Suter</span>
        <span class="n not-visual">Suter;Jaap</span>
        <span class="nickname not-visual">Jaap</span>
        <span class="org not-visual">N/A</span>
        <span class="role not-visual">Tinkerer</span>
        <abbr class="bday not-visual" title="1980-04-25">April 25th 1980</abbr>

        <a class="geo not-visual" title="Address in Google Maps" href="http://maps.google.ca/maps?q=1738+Parker+Street&hl=en&sll=49.275744,-123.068992&sspn=0.011522,0.027874&z=16">
            <abbr class="latitude" title="49.275744"></abbr>
            <abbr class="longitude" title="-123.068992"></abbr>
            <div class="adr address">
                <div class="street-address">1738 Parker Street</div>
                <span class="locality">Vancouver</span>
                <abbr class="region" title="British Columbia">BC</abbr>&nbsp;&nbsp;<span class="postal-code">V5L 2K8</span><br />
                <abbr class="country-name" title="Canada">Canada</abbr>
            </div>
        </a>

        <img class="photo not-visual" alt="Jaap Suter Profile Photo" src="/images/portrait.jpg"/>
            
        <a id="download" href="#" onclick="return H2V.download (this);"><img src="/images/vcard.png" alt="Download vCard"/></a>
        <a class="url" href="http://www.jaapsuter.com" rel="me">www.jaapsuter.com</a><br />
        <a class="email" href="mailto:contact@jaapsuter.com">contact@jaapsuter.com</a>
        <div class="tel"><span class="value">+1 604 313 5227</span> (<span class="type">cell</span>)</div>        
</aside>
