.copyright
  %aside
    \&copy;&nbsp;
    %time(datetime="{{ page.date | date_to_xmlschema }}" pubdate)
      %span.month> {{ page.date | date: "%B" }}&nbsp;
      %span.year {{ page.date | date: "%Y" }}
    %a.fn.n.uid.url{:href => "http://www.jaapsuter.com", :rel => "me", :title => "Jaap Suter"}
      %span.given-name Jaap
      %span.family-name Suter
