{% capture flashvars %}
flv=/videos/{{ name }}.{{ width }}x{{ height }}.mp4&
startimage=/img/posters/{{ name }}.jpg&
skin=&
autoplay=0&
autoload=0&
loadonstop=0&
buffer=5&
buffermessage=&
margin=0&
playercolor=000000&
loadingcolor=ffffff&
buttoncolor=ffffff&
buttonovercolor=aabbee&
slidercolor1=ffffff&
slidercolor2=ffffff&
sliderovercolor=abcdef&
playeralpha=85&
iconplaycolor=ffffff&
iconplaybgcolor=000000&
iconplaybgalpha=85&
showiconplay=1&
showstop=1&
showvolume=1&
showloading=always&
showplayer=autohide&
showmouse=autohide&
showtime=2&
showfullscreen=1&
ondoubleclick=fullscreen
{% endcapture %}
<div class='fig-content-stretch'>
  <object data='/videos/eddies-flv-maxi-player.swf' height='{{ height }}' id='object-flash-{{ name }}.{{ width }}x{{ height }}' name='object-flash-{{ name }}.{{ width }}x{{ height }}' type='application/x-shockwave-flash' width='{{ width }}'>
    <param name='movie' value='/videos/eddies-flv-maxi-player.swf'>
    <param name='allowFullscreen' value='true'>
    <param name='allowScriptAccess' value='always'>
    <param name='scale' value='noscale'>
    <param name='wmode' value='direct'>
    <param name='flashvars' value="{{ flashvars | replace: '&amp;', '&amp;amp;' | replace: ' ', '' | strip_newlines }}">
    <p class='no-video'>Can't Play Video, Please Download Below.</p>
  </object>
</div>
