<!DOCTYPE html>
<html class='no-js' lang='en'></html>
<head lang='en'>
  <meta charset='utf-8'>
  <!--[if IE]>
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='on' http-equiv='cleartype' />
    <meta content='True' name='HandheldFriendly' />
  <![endif]-->
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Jaap Suter">
  <title>
    {{ page.title }}
  </title>
  <link href='/css/head.css' rel='stylesheet'>
  <link href='http://microformats.org/profile/specs/' rel='profile'>
  <link href='/feed.atom' rel='alternate' type='application/atom+xml'>
</head>
