%head
  %meta(charset="utf-8")
  /[if IE]
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='on' http-equiv='cleartype' />
    <meta content='True' name='HandheldFriendly' />
  -# Haml doesn't always preserve attribute order, which is critical for some meta tags
  -# on some devices. So we write these in plain old fashioned reliablish HTML and move on.
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Jaap Suter">
  %title   
    {{ page.title }}
  %link{:href => "http://microformats.org/profile/specs/", :rel => "profile"}/
  %link{:href => "/atom.xml", :rel => "alternate", :type => "application/atom+xml"}/
  %link{:href => "/css/head.css", :rel => "stylesheet"}/
  