%head
  %meta(charset="utf-8")
  /[if IE]
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='on' http-equiv='cleartype' />
    <meta content='True' name='HandheldFriendly' />
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "Jaap Suter", :name => "author"}/
  %title
    {{ page.title }}
  %link{:href => "http://microformats.org/profile/specs/", :rel => "profile"}/
  %link{:href => "/atom.xml", :rel => "alternate", :type => "application/atom+xml"}/
  %link{:href => "/css/head.css", :rel => "stylesheet"}/
  