<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
<!--[if lt IE 8]><html class="no-js ielt9 ielt8"><![endif]-->
<!--[if lt IE 9]><html class="no-js ielt9"><![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <!--[if IE]>
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='on' http-equiv='cleartype' />
    <meta content='True' name='HandheldFriendly' />
  <![endif]-->
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Jaap Suter">
  <title>
    {{ page.title }}
  </title>
  <link href='http://microformats.org/profile/specs/' rel='profile'>
  <link href='/atom.xml' rel='alternate' type='application/atom+xml'>
  <link href='/css/head.css' rel='stylesheet'>
</head>
