!!!
%html(lang="en" class="no-js")
%head(lang="en")
  
  %meta(charset="utf-8")
  /[if IE]
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='on' http-equiv='cleartype' />
    <meta content='True' name='HandheldFriendly' />
  -# Haml doesn't preserve attribute order. It appears some devices are 
  -# picky about this for the viewport tag, so we just use old
  -# fashioned semi-reliablish HTML and get on with our day.
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Jaap Suter">
  
  %title   
    {{ page.title }}
  
  %link{:href => "/css/head.css", :rel => "stylesheet"}/
  %link{:href => "http://microformats.org/profile/specs/", :rel => "profile"}/
  %link{:href => "/feed.atom", :rel => "alternate", :type => "application/atom+xml"}/  
  