{%if false %}
<div class='figure'>
  <figure></figure>
  <div class='ar-wrap-{{ ratio }}'>
    {% if site.vimeo %}<iframe class='ar-content' height='{{ height }}' src='http://player.vimeo.com/video/{{ id }}?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=ffffff' width='{{ width }}'></iframe>{% else %}<img alt='Aspect Ratio {{ ratio }} Test Image' class='ar-content-{{ ratio }}' height='{{ height }}' src='/img/aspect-ratio-{{ ratio }}.png' width='{{ width }}'>{% endif %}
  </div>
  <figcaption>
  <p class='figcaption'>
    {{ caption }}
  </p>
</div>
{% endif %}
{% assign name = '' %}
{% assign width = '' %}
{% assign height = '' %}
{% assign ratio = '' %}
{% assign title = '' %}
{% assign caption = '' %}
