/*
  This file predominantly based on:
    https://github.com/necolas/normalize.css/blob/master/normalize.css
    https://github.com/h5bp/html5-boilerplate/blob/master/css/style.css
  But with enough differences to warrant a custom local version  
*/

* {
  margin: 0;
  padding: 0;
  
  /* @include box-model(border-box); */  
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  height: 100%;
}

body {
  min-height: 100%;
}

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img,
object,
iframe,
video {
  max-width: 100%;  
}

a:focus { outline: thin dotted; }
a:hover,
a:active { outline: 0; }

b,
strong { font-weight: 700; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  font-size: 80%;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.45em; }
sub { bottom: -0.2em; }

.caps,
abbr,
code,
kbd,
samp,
cite,
em,
i,
strong,
b,
sub,
sup { line-height: 0.1; }

svg:not(:root) { overflow: hidden; }

label { cursor: pointer; }
