$base-normalize-include-fields-forms-etcetera: false;
$base-normalize-include-typography-etcetera:   false;

$type-no-font-face:                            false;
$type-make-fallback-obvious:                   true;
$type-fallback-common-web-safe-only:           true;

$layout-viewport-width-override:               false;
$layout-grid-use-gradients-not-svg:            false;
$fig-debug-visualize-rhythm:                   false;

$layout-text-max-width: 24;

$layout-text-margin-width: 1;
$layout-main-max-width: 2 * $layout-text-margin-width + $layout-text-max-width;
$layout-fig-min-width: 8;

@import "framework/extern";
@import "framework/const";
@import "framework/func";
@import "framework/mixin";

$dummy: try-reload-extensions();

//* Up to this point, no styling should be applied - we've only defined
//* constants, functions, and mixins. Hence the resulting compressed CSS
//* file (with comments stripped, etc.) should be of zero size. */
 
@each $font in get_font_list() { @include font-face($font); }

@import "base/base-normalize";
@import "base/base-reset";
@import "base/base-type";

@include respond-to(default) { @include debug-message("respond-to(default);"); }
@include respond-to(narrow)  { @include debug-message("respond-to(narrow);"); }
@include respond-to(wide)    { @include debug-message("respond-to(wide);"); }

// @import "base/base-util";
// @import "base/base-figure";

// @import "layout/layout";
// @import "layout/layout-develop";
// @import "layout/layout-media-queries";

// @import "extern/yahoo-debug";
// @import "extern/holmes-debug";

// .initials {
//   @extend ._psn4n-inv;  
//     
//   font-size: 6em;
//   line-height: 1;
//   width: 1em;
//   .j, .s {
//     margin: 0.5em;
//     width: 100%;
//     // @include rotate(10deg);    
//   }
//   .j { background-color: #025373; }
//   .s { background-color: #A60303; }
// }

// p { margin: 0; }
// p + p { text-indent: 2em; }

// h1 {
//   @extend ._pan4n;
// }
// 
// .number {
//   // font-size: 0.85em;
// }
// 
// $test-smcp-font: tsn4n;
// 
// .test-smcp {
//   @extend ._#{$test-smcp-font};
//   font-size: 32px;
// }
// 
// .smcp {
//   font-family: tsn4n-smcp, tsn4n;
//   // letter-spacing: 0.1em;
//   // word-spacing: -0.1em;
//   // font-size: 18 / 16 * 1em;
//   // line-height: inherit;
// }
// 
// .smcp-fake {
//   font-size: 1062 / 1493 * 1em;
//   text-transform: uppercase;
// }
// 
// .smcp-font-variant-synth {
//   font-variant: small-caps;
// }
// 
//  span.caps, abbr {
//   @extend .smcp;
//   letter-spacing: 2 / 16 * 1em;
//   line-height: inherit;
//   text-transform: lowercase;
//   // word-spacing: -0.1em;
//   // font-size: 18 / 16 * 1em;  
//  }
// 
// p { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; -epub-hyphens: auto; hyphens: auto; }
// 
// code, kbd, samp { @extend ._tmn4n; line-height: 0; }
// i, cite, em, var { @extend ._tsi4n; line-height: 0; }
// strong, b { @extend ._tsn7n; line-height: 0; }
// 
// #content>p:first-child {
// 
//   position: relative;
// 
//   &:first-line {
//     @extend .sc;
//   }
// 
//   &:first-letter {
//     @extend ._psn4n-inv;
//     display: block;
//     font-size: 3.2em;
//     line-height: 1;
//     float: left;
//     height: 1em;
//     margin: 0.25em 0.25em 0.25em 0;
//   }
// 
//   &:after {
//     content: "";
//     display: block;
//     height: 0;
//     clear: both;
//     visibility: hidden;
//   }
// }
// 
// .sidebar {
//   @extend ._tan4n;
//   text-rendering: optimizeLegibility;
//   font-size: 12px;
//   line-height: 24 * 2 / 3 * 1px;
//   color: rgba(#224, 0.9);
//   margin: 0 0 tem() tem();
//   text-align: justify;
//   text-justify: newspaper;
//   overflow: visible;
//   float: right;
//   z-index: 200;
//   width: tem(7);
//   width: 40%;      
//   max-width: 56%;
//     
//   @media all and (max-width: 20em) {
//     position: relative;
//     line-height: 1;
//     margin: 0 0 tem() 0;
//     float: none;
//     width: 43%;
//     max-width: 100%;
//   }
// }
// 
// .type-metrics-sample {
//   display: block;
//   $font-size: 73;
//   $half-leading: 23;
//   $font-family: pan4n;
//   font-style: normal;
//   text-rendering: optimizeLegibility ;
//   background-color: rgba(#333, 0.5);
//   position: relative;
//   font-family: #{$font-family}, serif;
//   font-size: $font-size * 1px;
//   line-height: ($font-size + 2 * $half-leading) * 1px;
//   white-space: nowrap;
//   .ascent, .cap, .ex, .baseline, .descent {
//     position: absolute;
//     width: 100%;
//     height: 1px;
//   }
// 
//   $baseline: $half-leading + get_text_metric_at_font_size(baseline, $font-family, $font-size);
//   $ascent:  $baseline - get_text_metric_at_font_size(ascent, $font-family, $font-size);
//   $cap: $baseline - get_text_metric_at_font_size(cap, $font-family, $font-size);
//   $ex: $baseline - get_text_metric_at_fo nt_size(ex, $font-family, $font-size);
//   $descent: $baseline + get_text_metric_at_font_size(descent, $font-family, $font-size);
// 
//   $dummy: make_grid_svg($font-size + 2 * $half-leading, $baseline, $ascent, $cap, $ex, $descent);
//       
//   .ascent { background-color: #f00; top: $ascent * 1px; }
//   .cap { background-color: #0f0; top: $cap* 1px; }
//   .ex { background-color: #00f; top: $ex * 1px; }
//   .baseline { background-color: #000; top: $baseline * 1px; }
//   .descent { background-color: #0ff; top: $descent * 1px; }
// }

