/* useful: csslint --format=compact _site\css\head.css */

@import "prelude";

@unless $type-disable-font-face {
  @if in-development-mode() { @import url(at-font-face.dev.css); }
  @else { @each $font in get_font_list() { @include at-font-face($font); } }  
}

@each $font in get_font_list() { @include abstract-font-face-family($font); }

@import "normalize";

@import "base/base-type";
@import "base/base-util";

html {
  font-size: $pp-rem / $pp-rem-initial-value * 100%;
  line-height: 100%;  
  text-rendering: optimizelegibility;
}

body {
  position: relative;
  width: 100%;
  max-width: 38em;
  margin: 0 auto;
    
  @include color-and-background-color($black, $white);
  @extend %#{$body-font-family};
}

/*
  #header { background-color: rgba(#fdd, 0.6); }
  #article { background-color: rgba(#ddf, 0.6); }
  #footer { background-color: rgba(#dfd, 0.6); }
  #menu { background-color: rgba(#ffd, 0.6); }
  #archive { background-color: rgba(#fdf, 0.6); }
*/

::moz-selection { @include color-and-background-color($red-ll, $blue-dd, false); text-shadow: none; }
::selection { @include color-and-background-color($red-ll, $blue-dd, false); text-shadow: none; }
  
p {
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word; // Non standard for webkit  

  -webkit-locale: 'en';
  -webkit-hyphens: auto;
    -epub-hyphens: auto;
     -moz-hyphens: auto;
       ms-hyphens: auto;
        o-hyphens: auto;
          hyphens: auto;
}

@include responsive-diet {
  
  @include responsive-type(16px, 24px, _default);
  
  @include responsive-type(16px, 23px, max-width, 32em);
  @include responsive-type(16px, 22px, max-width, 24em);
  
  @include responsive-type(17px, auto, min-width, 44em);  
  @include responsive-type(18px, auto, min-width, 50em);
  @include responsive-type(19px, auto, min-width, 56em);
  @include responsive-type(20px, auto, min-width, 62em);
  @include responsive-type(21px, auto, min-width, 68em);
  @include responsive-type(22px, auto, min-width, 74em);
  @include responsive-type(23px, auto, min-width, 80em);
  @include responsive-type(24px, auto, min-width, 86em);
  
  body {
    @include units(font-size, $pp-em, $pp-rem);
    @include units(line-height, 1el);
  }

  p { @include units(margin-top, 1el); }

  p + p {
    text-indent: 2em;
    margin-top: 0;  
  }

  /*
  .type-m { @include change-type(pan7n, cap, 1el) {} }
  .type-l { @include change-type(pan7n, cap, 2el) {} }
  .type-xl { @include change-type(pan7n, ex, 2el) {} }
  .type-xxl { @include change-type(pan7n, cap, 3el) {} }  
  .type-xxxl { @include change-type(pan7n, ex, 3el) {} }

  .type-margin-bottom-1el {
    @include units(margin-bottom, 1el);
  }
  
  */
  
  h1 {
    color: $black;
    @include change-type(pan4n, cap, 2el) {
      @include units(margin-bottom, 1el);
    }
  }
  
  /*
    
  h2 {
    @include change-type(pan7n, ex, 1el) {
      color: $red-d;
      @include units(margin-top, 1el);
    }
  }
  
  h3 {
    @include change-type(tsn4n-smcp, ex, 1cap) {
      text-transform: lowercase;
      text-rendering: optimizespeed;
      letter-spacing: 0.05em;
      word-spacing: 0.3em;
      @include units(margin-top, 1el);
    }    
  }
  
  h4, h5, h6 {
    @include change-type(pan4n, cap, 1el) {
      @include units(margin-top, 1el);
    }
  }
    
  .small { @include change-type(pan4n, cap, $pp-ex) {} }

  blockquote {    
    color: $blue-dd;  
    @include units(margin, 1el 0);
    @include units(padding-left, 1em);
  }    
  */
  
  .sidebar {
    position: relative;
    float: right;
    width: 40%;
    margin-left: 1em;
    padding: 0 1em;
    margin-bottom: 1em;
    overflow: hidden;
    
    max-width: 12em;
    text-align: justify;
    -ms-text-justify: newspaper;
    
    @include units(margin-top, 1el);
    @include units(padding, (1el 1em));
    
    $top: $pp-bo - $pp-ascent;
    @include units(top, $top);
    
    @include color-and-background-color($red-lll, $blue-ddd, false);
    
    p {
      @include change-type(tan4c, ppem, 0.8em, $incremental: more, $pp-bo-offset: -$top) {
        @include units(margin-top, 0);
      }
    }
  }
  
  @if in-development-mode() {
    .baseline {
      @include background-image-baseline-grid();
    }
  }
  
  @include debug-msg-install();
}

/*
#colorize {
  li { list-style: none; display: block; }
}

.black       { color: $white; background-color: $black   ;}
.white       { color: $black; background-color: $white   ;}
.red-ddd     { color: $white; background-color: $red-ddd ;}
.red-dd      { color: $white; background-color: $red-dd  ;}
.red-d       { color: $white; background-color: $red-d   ;}
.red         { color: $white; background-color: $red     ;}
.red-l       { color: $black; background-color: $red-l   ;}
.red-ll      { color: $black; background-color: $red-ll  ;}
.red-lll     { color: $black; background-color: $red-lll ;}
.blue-ddd    { color: $white; background-color: $blue-ddd;}
.blue-dd     { color: $white; background-color: $blue-dd ;}
.blue-d      { color: $white; background-color: $blue-d  ;}
.blue        { color: $white; background-color: $blue    ;}
.blue-l      { color: $black; background-color: $blue-l  ;}
.blue-ll     { color: $black; background-color: $blue-ll ;}
.blue-lll    { color: $black; background-color: $blue-lll;}
*/
