html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

html > body {
  font-size: 16px;
}

header, footer, nav, article, section, aside, hgroup, menu {
  display: block;
}

body {
  font-size: 100%;
  font: normal 16px/1.5 Calibri,"Trebuchet MS",sans-serif;
}

html > body {
  font-size: 16px;
}

p, ul, blockquote, pre, td, th, label, div {
  margin-bottom: 1.5em;
  font-size: 16px;
  line-height: 1.5;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.48em;
  line-height: 1.293em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: bold;
  text-shadow: #999 1px 1px 1px;
}

h2 {
  font-size: 1.64em;
  line-height: 1.829em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.45em;
  line-height: 2.069em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.034em;
}

h4 {
  font-size: 1.18em;
  line-height: 1.271em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.271em;
}

a, input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a:hover, a:focus, a:active {
  color: #ffc681;
  background-color: #aaa;
}

sub {
  vertical-align: baseline;
  position: relative;
  bottom: -0.4em;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

blockquote {
  font-style: italic;
  margin: 1em 1em 3em 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #444;
  background-color: #eee;
}

blockquote ul, blockquote ol {
  list-style: square inside;
}

pre, code, kbd, samp, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

hgroup {
  position: relative;
}

#container {
  width: 32em;
  margin: 0 auto;
  padding: 1.5em 3.5em;
  border-left: 2px solid #000;
  background-color: #fff;
  position: relative;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

a:visited {
  border-bottom: 1px dashed #888;
}

a:hover, a:focus, a:active {
  color: #333;
  border-bottom: 1px solid #888;
}

header a, header a:visited, header a:hover, header a:focus, header a:active {
  border-bottom: 2px solid #fff;
}

header a:hover, header a:focus, header a:active {
  border-bottom: 2px solid #000;
}

nav {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav ul {
  margin-top: 0;
  padding-top: 0;
}

nav ul li {
  display: inline;
}

nav a, nav a:visited, nav a:hover, nav a:focus, nav a:active {
  text-decoration: underline;
  font-weight: bold;
  background: #222;
  padding: 0.25em 0.5em;
  margin: 0 0.5em 0 -0.01em;
  color: #fff;
}

nav a:hover, nav a:focus, nav a:active {
  background: #444;
  color: #ccc;
}

li.index {
  text-align: right;
  margin-bottom: 1.5em;
}

li.index a {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-top: 0em;
  padding-top: 0.625em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

aside.vcard {
  float: right;
  position: relative;
  width: 34%;
  font-weight: bold;
  padding: 0.2em 0.5em;
  text-align: right;
  background: #222;
  color: #fff;
}

aside.vcard div.tel {
  margin-bottom: 0;
}

aside.vcard a, aside.vcard a:visited, aside.vcard a:hover, aside.vcard a:focus, aside.vcard a:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

aside.vcard a:hover, aside.vcard a:focus, aside.vcard a:active {
  background: #888;
}

aside.vcard a#download {
  position: absolute;
  border-bottom: 0;
  left: 6px;
  top: 6px;
}

p.warning-old {
  font-weight: bold;
  padding-right: 0.5em;
  color: #fff;
  background: #222;
  text-align: right;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

p.warning-old span.warning-old-emph {
  color: #F33;
}

.small {
  font-weight: lighter;
  color: #555;
}

.title hgroup h3, footer h3 {
  font-weight: bold;
  text-align: right;
  float: right;
  color: #888;
}

footer {
  text-align: right;
  clear: both;
}

.not-visual {
  display: none;
}

div.description {
  clear: both;
}

div.when-where {
  float: right;
  width: 30%;
  padding-bottom: 1.5em;
  text-align: right;
}

ol li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

article ol li, article ul li {
  list-style-type: square;
  margin-bottom: 1.5em;
}

figure {
  position: relative;
  margin-bottom: 3em;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
}

figure figcaption {
  position: absolute;
  right: 0;
  bottom: 2.25em;
  font: bold 1em/1.5em Helvetica,sans-serif;
  color: #fff;
}

figure figcaption span {
  display: block;
  border: 2px solid #000;
  border-right: 0;
  float: right;
  clear: both;
  background: #000;
  background: rgba(0,0,0,0.7);
  padding: 0.25em 0.5em;
  color: #fff;
}

.embed-video {
  position: relative;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.aspect-4x3 {
  padding-bottom: 75%;
}

.aspect-16x9 {
  padding-bottom: 56.25%;
}

.aspect-3x2 {
  padding-bottom: 66.71%;
}

.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
