$grid-min-height: 10;
$grid-max-height: 30;
$grid-min-width: 6;
$grid-max-width: 30;

$archive-max-width: 10;

$navigation-width: 8;

$article-padding-min: 1;
$article-max-width: 40 + $article-padding-min;
$article-min-width: 12;

$sidebar-min-width: 4;
$sidebar-max-width: 6;
$sidebar-width: 40%;

$container-max-width: $archive-max-width + $navigation-width + $article-max-width + $sidebar-max-width;
