$dummy: try-reload-extensions();

$base-normalize-include-fields-forms-etcetera: false;
$base-normalize-include-typography-etcetera:   false;

$type-disable-font-face:                       false;
$type-fallback-make-obvious:                   false;
$type-fallback-common-web-safe-only:           false;