$serif-fallback:           Georgia, serif;
$sans-fallback:            Verdana, sans-serif;
$sans-condensed-fallback:  Arial, sans-serif;
$mono-fallback:            Courier New, monospace;

@unless $type-fallback-common-web-safe-only {
  $serif-fallback:           DejaVu Serif,           Bitstream Vera Serif,     $serif-fallback;
  $sans-fallback:            DejaVu Sans,            Bitstream Vera Sans,      $sans-fallback;
  $sans-condensed-fallback:  DejaVu Sans Condensed,  Bitstream Vera Sans,      $sans-condensed-fallback;
  $mono-fallback:            DejaVu Sans Mono,       Bitstream Vera Sans Mono, $mono-fallback;
}

@if $type-fallback-make-obvious {
  $obvious-fallback: fallback, unifont, LastResort, LocalFallback, Impact, cursive, fantasy;

  $serif-fallback:            $obvious-fallback, $serif-fallback;
  $sans-fallback:             $obvious-fallback, $sans-fallback;
  $sans-condensed-fallback:   $obvious-fallback, $sans-condensed-fallback;
  $mono-fallback:             $obvious-fallback, $mono-fallback;
}
