@function debug-warn($message) { @debug raise_error_message($message); }
@function debug-warn-if($expression, $message) { @if ($expression) { $dummy: debug-warn($message); }  @return 0; }
@function debug-warn-if-message($message) { @return debug-warn-if($message != "", $message); }

@function min($lhs, $rhs) { @return if($lhs < $rhs, $lhs, $rhs); }
@function max($lhs, $rhs) { @return if($lhs > $rhs, $lhs, $rhs); }

@function is-odd($n) { @return 1 == ($n % 2); }

@function percent($n, $t) { @return $n / $t * 100%; }

@function interpolate($from, $to, $current, $min, $max) {
  $domain: abs($to - $from);
  $range: abs($max - $min);
  
  @return $min + ((abs($current - $from) / $domain) * $range);
}

@function round-two-decimals($n) {
  @return round($n * 100) / 100;
}

@function multiply-each($val, $f) {
  @if type-of($val) == list {
  
    $idx: 1;
    $len: length($val);
    $ret: ();
    
    @while $idx <= $len {
      $elem: nth($val, $idx);
      
      $ret: append($ret, if(0 == $elem, 0, multiply-each($elem, $f)));
      $idx: $idx + 1;
    }
    
    @return $ret;  
  } @else {
    @return $val * $f;
  }
}

