@import "constants/base";
@import "constants/fonts";
@import "constants/colors";

@import "modules/mixins";
@import "modules/debug";

@import "compass/reset";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout";

@include establish-baseline;

header, footer, nav, article, section, aside, hgroup, menu { display: block; }

body { font-size: 100%; font: normal 16px/1.5 "Gill Sans", "Gill Sans MT", GillSans, Calibri, "Trebuchet MS", sans-serif; }
html>body { font-size: 16px; } 
p, ul, blockquote, pre, td, th, label, div { margin-bottom: 1.5em; font-size: 16px; line-height: 1.5; clear: both; }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; font-family: Verdana, sans-serif; }

#{headers(all)} {    
    text-rendering: optimizeLegibility;
    font-family: $header-font-stack;
}

h1 { @include scale-font-size-and-set-rhythm(2.70, 0, 0, 0, 0); font-weight: bold; }
h2 { @include scale-font-size-and-set-rhythm(1.64, 0, 0, 0, 0); font-weight: bold; }
h3 { @include scale-font-size-and-set-rhythm(1.45, 0, 0, 0, 1); }
h4 { @include scale-font-size-and-set-rhythm(1.18, 0, 0, 0, 1); }

a, input[type='submit'], input[type='image'], label[for], select, button, .pointer { cursor: pointer; }    
a {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
    &:visited {
        color: #000;
    }
    &:hover, &:focus, &:active {
        color: $second-color; 
        background-color: $base-color;
    }
}

sub {
    vertical-align: baseline;
    position: relative;
    bottom: -0.4em;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

blockquote {
    font-style: italic;
    margin: 1em 1em 3em 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #444;
    background-color: #eee;
    ul, ol {
        list-style: square inside;
    }
}

pre, code, kbd, samp, tt {
    font-family: $mono-font-stack;
    @include scale-font-size-and-set-rhythm(1, 0, 0, 0, 1);
}


hgroup { position: relative; }

#container {
    width: 32em;
    margin: 0 auto;
    padding: 1.5em 3.5em;
    border-left: 2px solid #000;
    background-color: #fff;
    position: relative;
}

aside#photos {
    position: absolute;    
    top: 0;
    border-right: 2px solid #000;
    width: 480px;
    right: 100%;
    
    figure { margin: 0; padding: 0; border-bottom: 2px solid #000; }
    
    div.overlay {
        position: absolute;
        background: #fff;
        background: rgba(#fff, 0.6);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

a { color: #333; text-decoration: none; border-bottom: 1px solid #000; }
a:link { }
a:visited { border-bottom: 1px dashed #888; }
a:hover, a:focus, a:active { color: #333; border-bottom: 1px solid #888; }

header {
    a, a:visited, a:hover, a:focus, a:active { border-bottom: 2px solid #000; } 
}

nav {
    ul {
        margin-top: 0;
        padding-top: 0;        
    }
    
    @include darken-bold;
}

li.index {
    text-align: right;
    a { @include scale-font-size-and-set-rhythm(1.2, 0, 0, 0, 0); }
    @include trailer;
}

aside.vcard {
    float: right;
    position: relative;
    width: 36%;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-align: right;
    background: #222;    
    color: #fff;
    div.tel { margin-bottom: 0; }
    
    a, a:visited, a:hover, a:focus, a:active {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;        
    }
    
    a:hover, a:focus, a:active {
        background: #888;
    }
    
    a#download {
        position: absolute;    
        border-bottom: 0;
        left: 6px;
        top:  6px;
    }
}

.small { font-weight: lighter; color: #555; }
.title hgroup h3, footer h3 { font-weight: bold; text-align: right; float: right; color: #888; }

footer {
    text-align: right;
    clear: both;
}

.not-visual { display: none; }

div.description { clear: both; }
div.when-where { float: right; width: 30%; padding-bottom: 1.5em; text-align: right; }

ol li { list-style-type: none; margin-bottom: 1.5em; }

article ol li { list-style-type: square; margin-bottom: 1.5em; }

figure {
    position: relative;
    img {
        display: block;        
        width: 100%;
        height: auto;
    }
        
    figcaption
    {
        position: absolute;
        right: 0;
        bottom: 2.25em;
        font: bold 1em/1.5em Helvetica, sans-serif;
        color: #fff;
        span {
            display: block;
            border: 2px solid #000;        
            border-right: 0;
            float: right;
            clear: both;
            background: #000;
            background: rgba(0, 0, 0, 0.7);
            padding: 0.25em 0.5em;
            color: #fff;
        }
    }
    
    @include trailer(2);
}

.embed-video {
	position: relative;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}

.aspect-4x3 {
    padding-bottom: 75%;
}

.aspect-16x9 {
    padding-bottom: 56.25%;
}

.aspect-3x2 {
    padding-bottom: 66.71%;
}

.embed-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}