@mixin font-face($name, $unicode-range: false) {
  @font-face {    
    font-family: quote($name);
    font-weight: type-name-get-font-weight($name);
    font-style:  type-name-get-font-style($name);    
      
    src: url('/fonts/#{$name}.eot');

    @if type-name-is-postscript-flavored($name) {
      src: url('/fonts/#{$name}.eot?#iefix') format('eot'), // Todo, Jaap Suter, January 2012: investigate format('embedded-opentype'),
           url('/fonts/#{$name}.woff') format('woff'),
           url('/fonts/#{$name}.otf') format('opentype'),
           url('/fonts/#{$name}.ttf') format('truetype');
    } @else {  
      src: url('/fonts/#{$name}.eot?#iefix') format('eot'),  // Todo, Jaap Suter, January 2012: investigate format('embedded-opentype'),
           url('/fonts/#{$name}.woff') format('woff'),
           url('/fonts/#{$name}.ttf') format('truetype');
    }

    @if $unicode-range {
      unicode-range: unquote($unicode-range);
    }
  }

  ._#{$name} {    
    font-family: #{$name, type-name-get-font-family-fallback($name)};
    font-weight: type-name-get-font-weight($name);
    font-style:  type-name-get-font-style($name);
  }
}

@mixin rhythm($font-family, $font-size, $line-height) {
  @extend ._#{$font-family};
  font-size: $font-size / $rem * 1em;
  line-height: ($line-height / $font-size) * 1em;
  
  position: relative;
  margin-bottom: 0;
  
  top: 1px * rhythm-distance-to-next($font-family, $font-size, $line-height, tsn4n, $rem, $tem);
}

@mixin small-caps {
  text-rendering: optimizeSpeed;
  font-variant: small-caps;
}
