
@mixin diet {  
  $call: responsive-capture(_all);
  @media _all { @content; }

  $call: responsive-capture(_default);
  @media _default { @content; }

  @each $property in get_responsive_properties() {
    @if $property != '_all' and $property != '_default' {      
      @each $value in get-responsive-values($property) {
          
        $call: responsive-capture($property, $value);
        @media ($property: $value) { @content; }
      }
    }
  }
}

@function units($value, $pp-em-override: $pp-em) {
  $pp: to-pp($value, $pp-em-override);
  
  @if in-development-mode() {
    @return ($pp, from-pp($pp, 1 / $pp-em-override * 1em), from-pp($pp, 1 / $pp-rem * 1rem));
  } @else {
    @return (     from-pp($pp, 1 / $pp-em-override * 1em), from-pp($pp, 1 / $pp-rem * 1rem));
  }
}

@mixin units($property, $value, $pp-em-override: $pp-em) {
  @each $value in units($value, $pp-em-override) {  
    #{$property}: $value;
  }
}
