@mixin debug-message($message) {
  body > *:first-child:before {
    content: $message;
    background-color: rgba($color-black, 0.7);
    color: rgba(lighten(saturate($color-red, 50%), 50%), 0.9);
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@mixin debug-warn($message) {
    @debug raise_error_message($message);
    
    &:before {
        content: "Warning: " + $message;
        display: block;
        font-weight: bold;
        background-color: rgba(#ff8, 0.7);
        color: red;
    }
}

@mixin debug-warn-if($expression, $message) {
    @if ($expression) {
        @include debug-warn($message);
    }
}

@mixin debug-warn-if-message($message) {
    @include debug-warn-if($message != "", $message);
}
