$media-types: ((default, narrow, wide), (body-ppem, body-ppel), ((16, 24), (12, 18), (24, 60)));

@function get-from($class, $instance, $member) {
  $instances: nth($class, 1);
  $members: nth($class, 2);
  $values: nth($class, 3);

  $instance-idx: index($instances, $instance);
  $member-idx: index($members, $member);

  @return nth(nth($values, $instance-idx), $member-idx);
}

@mixin respond-to($media) {

  @include set-or-restore-body-type-metrics(get-from($media-types, $media, body-ppem), get-from($media-types, $media, body-ppel));
  
  @if $media == narrow {
    @media screen and (max-width: 479px) { 
      @content;
    }
  }
  @else if $media == wide {
    @media screen and (min-width: 800px) {
      @content;
    }
  }
  @else if $media == default {
    @content;
  }

  @include set-or-restore-body-type-metrics();
}
