$base-normalize-include-fields-forms-etcetera: false;
$base-normalize-include-typography-etcetera:   false;
$base-normalize-include-margin-padding:        false;

$type-disable-font-face:                       false;
$type-fallback-make-obvious:                   false;
$type-fallback-common-web-safe-only:           false;

$serif-fallback:           Georgia, serif;
$sans-fallback:            Verdana, sans-serif;
$sans-condensed-fallback:  Arial, sans-serif;
$mono-fallback:            Courier New, monospace;

@unless $type-fallback-common-web-safe-only {
  $serif-fallback:           DejaVu Serif,           Bitstream Vera Serif,     $serif-fallback;
  $sans-fallback:            DejaVu Sans,            Bitstream Vera Sans,      $sans-fallback;
  $sans-condensed-fallback:  DejaVu Sans Condensed,  Bitstream Vera Sans,      $sans-condensed-fallback;
  $mono-fallback:            DejaVu Sans Mono,       Bitstream Vera Sans Mono, $mono-fallback;
}

@if $type-fallback-make-obvious {
  $obvious-fallback: fallback, unifont, LastResort, LocalFallback, Impact, cursive, fantasy;

  $serif-fallback:            $obvious-fallback, $serif-fallback;
  $sans-fallback:             $obvious-fallback, $sans-fallback;
  $sans-condensed-fallback:   $obvious-fallback, $sans-condensed-fallback;
  $mono-fallback:             $obvious-fallback, $mono-fallback;
}

//** Color scheme based on Susanne, Tumbleweed, and Diana's socks - captured at http://kuler.adobe.com/#themeID/1804974 */
$transparent: rgba(0, 0, 0, 0);

$black: #0d0400;
$white: #e7e5de;
$white: tint($white, 56);

$blue:  #005869;
$blue-d: shade($blue, 25);
$blue-dd: shade($blue, 50);
$blue-ddd: shade($blue, 75);
$blue-l: tint($blue, 25);
$blue-ll: tint($blue, 50);
$blue-lll: tint($blue, 75);

$red:   #971f03;
$red-d: shade($red, 25);
$red-dd: shade($red, 50);
$red-ddd: shade($red, 75);
$red-l: tint($red, 25);
$red-ll: tint($red, 50);
$red-lll: tint($red, 75);

$pp-rem-initial-value: 16px;
$pp-rem:               20px;

$body-font-family:    tsn4n;
