<div id='content-footer' role='contentinfo'>
  <footer>
    <address class='vcard' id='contact'>
      <ul>
        <li>
          <a class='fn n uid url' href='http://www.jaapsuter.com' rel='me'>
            <span class='given-name'>Jaap</span>
            <span class='family-name'>Suter</span>
          </a>
        </li>
        <li>
          <a class='email' href='mailto:contact@jaapsuter.com'>contact@jaapsuter.com</a>
        </li>
        <li>
          <span class='tel'>+1&nbsp;(604)&nbsp;313&nbsp;5227</span>
        </li>
      </ul>
      <ul class='hidden'>
        <li>
          <img alt='Jaap Suter Profile Photo' class='photo' height='0' src='/img/portrait.jpg' width='0' />
        </li>
        <li>
          <abbr class='bday' title='1980-04-25'>April 25th 1980</abbr>
        </li>
        <li>
          <div class='geo'>
            <span class='latitude'>49.275744</span>
            <span class='longitude'>-123.068992</span>
          </div>
        </li>
        <li>
          <div class='adr address'>
            <span class='street-address'>1738 Parker Street</span>
            <span class='locality'>Vancouver</span>
            <abbr class='region' title='British Columbia'>BC</abbr>
            <span class='postal-code'>V5L 2K8</span>
            <abbr class='country-name' title='Canada'>Canada</abbr>
          </div>
        </li>
      </ul>
    </address>
    <p id='license'>
      The content on this page is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">Creative Commons Attribution 3.0 Unported License</a>.
      {% rhythm %}
      {% img src:"cc-license.png", alt:"Creative Commons Attribution 3.0 Unported License" %}
      {% endrhythm %}
    </p>
  </footer>
</div>
