<div id='site-header'>
  <header role='banner'>
    <h1 class='visuallyhidden'>
      Jaap Suter
    </h1>
    <form>
      <label for='menu-checkbox' id='menu-label'>
        Menu
      </label>
      <input id='menu-checkbox' type='checkbox'>
      <div id='menu-visible'>
        Bananananananananananana, banananana, banananananana, banana,
        bananaanana, banananana, banananananana, banana, banananananana, banana,
        bananaanana, banananana, banananananana, banana!
      </div>
    </form>
    <div class='p-like'>
      <a href='#site-menu' id='nav-to-menu'>Menu</a>
      <a href='#site-archive' id='nav-to-archive'>Archive</a>
    </div>
  </header>
</div>
