$pp-em:            undefined;
$pp-el:            undefined;
$pp-ascent:        undefined;
$pp-cap:           undefined;
$pp-ex:            undefined;
$pp-bo:            undefined;
$pp-half-leading:  undefined;
$max-width:        undefined;
$min-width:        undefined;