@mixin scale-font-size-and-set-rhythm($scale: 1, $leader: 0, $padding-leader: 0, $padding-trailer: 0, $trailer: 0, $font-size: $base-font-size) {
  @include adjust-font-size-to($font-size * $scale);
  @include rhythm($leader, $padding-leader, $padding-trailer, $trailer, $font-size * $scale);
}

@mixin darken-background {
    background: #222;
    background: rgba(0, 0, 0, 0.4);
}

@mixin darken-bold {
    font-family: $header-font-stack;
    font-weight: bold;
    
    a, a:visited, a:hover, a:focus, a:active {
        text-decoration: underline;
        font-weight: bold;               
        background: #222;
        padding: 0.25em 0.5em;
        margin: 0 0.5em 0 -0.01em;
        color: #fff;        
    }
    
    a:hover, a:focus, a:active {
        background: #444;
        color: #ccc;
    }
}
