<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
<!--[if lt IE 8]><html class="no-js ielt9 ielt8"><![endif]-->
<!--[if lt IE 9]><html class="no-js ielt9"><![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
{% include other/head.html %}
<body id='{{ page.id }}' lang='en'>
  <div id='rhythm'>
    <div class='type-comparison'>
      <p class='custom'>
        Five quackin' zephyrs jolt my wax bed. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
        g 0123456789
      </p>
      <p class='installed'>
        Five quackin' zephyrs jolt my wax bed. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
        g 0123456789
      </p>
    </div>
    <p>
      This is a paragraph with some text in it. It goes on for a while but
      doesn't really say anything useful. That's fine, I'm just testing
      whether it's possible to create an em-based typographic rhythm.
    </p>
    <h1>
      Short H1
    </h1>
    <p>
      Voila, the second paragraph.
    </p>
    <h1>
      Here's an H1 header <span class="h1-mid">that is likely to wrap to</span> the next line.
    </h1>
    <p>
      Voila, the third paragraph. Isn't it great?
    </p>
    <h2>
      Enjoy a second level header that is multiple lines long
    </h2>
    <p class='small'>
      And here's a small paragraph. Once again, containing no useful
      information whatsoever. It's merely to give the CSS something
      to experiment with.
    </p>
    <p>
      And here's a fourth paragraph. Once again, containing no useful
      information whatsoever. It's merely to give the CSS something
      to experiment with.
    </p>
  </div>
  <div id='header'>
    <header role='banner'>
      {% include modules/header.html %}
    </header>
  </div>
  <div data-body-id='{{ page.id }}' id='ajax'>
    <div id='main'>
      <article>
        <h1>{{page.title}}</h1>
        {% include other/copyright_pubdate_author.html %}
        <div id='content'>
          {{ content }}
        </div>
      </article>
      <div id='footer' role='contentinfo'>
        <footer>
          {% include other/footer.html %}
        </footer>
      </div>
    </div>
  </div>
  <div id='menu'>
    <nav role='navigation'>
      {% include modules/menu.html %}
    </nav>
  </div>
  <div id='archive'>
    <nav role='navigation'>
      {% include modules/archive.html %}
    </nav>
  </div>
  <div id='develop' role='presentation'>
    {% include modules/develop.html %}
  </div>
  <script src='/js/modules.js'></script>
  <script src='/js/jaap/dom.js'></script>
  <script src='/js/jaap/util.js'></script>
  <script src='/js/jaap/keys.js'></script>
  <script src='/js/jaap/font.js'></script>
  <script src='/js/jaap/ajax.js'></script>
  <script src='/js/jaap.js'></script>
</body>
