---
---
{% include other/head.html %}

%body(lang="en" id="{{ page.id }}")
  
  {% include zone/header.html %}
  
  #ajax(data-body-id="{{ page.id }}")
    {% include zone/main.html %}
  
  {% include zone/menu.html %}  
  {% include zone/archive.html %}
  {% include other/tail.html %}  