---
---
!!!
\<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
\<!--[if lt IE 7]><html class="no-js ielt9 ielt8 ielt7"><![endif]-->
\<!--[if lt IE 8]><html class="no-js ielt9 ielt8"><![endif]-->
\<!--[if lt IE 9]><html class="no-js ielt9"><![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
{% include other/head.html %}  
%body(lang="en" id="{{ page.id }}")
  #rhythm
    .type-comparison
      %p.custom
        Five quackin' zephyrs jolt my wax bed. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
        g 0123456789 
      %p.installed
        Five quackin' zephyrs jolt my wax bed. THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
        g 0123456789 
    %p
      This is a paragraph with some text in it. It goes on for a while but 
      doesn't really say anything useful. That's fine, I'm just testing
      whether it's possible to create an em-based typographic rhythm.
    %h1
      Short H1
    %p
      Voila, the second paragraph.
    %h1
      Here's an H1 header <span class="h1-mid">that is likely to wrap to</span> the next line.
    %p
      Voila, the third paragraph. Isn't it great?
    %h2
      Enjoy a second level header that is multiple lines long
    %p.small
      And here's a small paragraph. Once again, containing no useful
      information whatsoever. It's merely to give the CSS something
      to experiment with.
    %p
      And here's a fourth paragraph. Once again, containing no useful
      information whatsoever. It's merely to give the CSS something
      to experiment with.
  #header
    %header(role="banner")
      {% include modules/header.html %}
  #ajax(data-body-id="{{ page.id }}")
    #main
      %article
        %h1 {{page.title}}
        {% include other/copyright_pubdate_author.html %}
        #content
          {{ content }}
      #footer(role="contentinfo")
        %footer
          {% include other/footer.html %}
  #menu
    %nav(role="navigation")
      {% include modules/menu.html %}
  #archive
    %nav(role="navigation")
      {% include modules/archive.html %}
  #develop(role="presentation")      
    {% include modules/develop.html %}
    
  - script_style = '.all.min.dev'
  - script_style = '.all.min'
  - script_style = '.all'
  - script_style = ''
  - script_src = "/js/jaap#{script_style}.js"
  - if script_style == ''
    %script(src="/js/modules.js")
    %script(src="/js/jaap/dom.js")
    %script(src="/js/jaap/util.js")
    %script(src="/js/jaap/keys.js")
    %script(src="/js/jaap/font.js")
    %script(src="/js/jaap/ajax.js")
  %script(src=script_src)