<!DOCTYPE   html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width maximum-scale=1.0">
	<title>{{page.title}} - Jaap Suter</title>
	<link rel="stylesheet" href="/stylesheets/default.css" />
	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    
</head>
<body>
<div id="container">
    {% include vcard-aside.html %}		
    <header class="banner">
        <h1><a href="/">Jaap Suter</a></h1>
	</header>
    <nav>
        <ul>
			<a href="/resume.pdf"><img src="/images/pdf.png" width="32px" height="32px"/>Resume</a>
            <a href="//github.com/JaapSuter"><img src="/images/github-octotat.png" width="32px" height="32px"/>GitHub</a>
		</ul> 
	</nav>
    {{ content }}    
    <!--
    <aside id="photos">
        {% assign src = "horizontal/under-parachute.jpg" %}
        {% assign alt = "Under Parachute" %}
        {% include figure-with-caption.html %}

        {% assign src = "horizontal/out-the-door.jpg" %}
        {% assign alt = "Out the Door" %}
        {% include figure-with-caption.html %}

        {% assign src = "horizontal/stone-rabbit-summit.jpg" %}
        {% assign alt = "Stone Rabbit Summit" %}
        {% include figure-with-caption.html %}

        {% assign src = "horizontal/jumping-the-chief.jpg" %}
        {% assign alt = "Jumping The Chief" %}
        {% include figure-with-caption.html %}

        {% assign src = "horizontal/over-vancouver.jpg" %}
        {% assign alt = "over-vancouver" %}
        {% include figure-with-caption.html %}

        <div class="overlay"></div>        
    </aside>
    -->
</div>
</html>
