---
---
{% include other/head.html %}

%body(id="{{ page.id }}")

  {% if post.excerpt %}
  {{ post.excerpt }}
  {% endif %}
  
  {% include zone/header.html %}
  
  #ajax(data-body-id="{{ page.id }}")
    {% include zone/article.html %}
  
  {% include zone/menu.html %}  
  {% include zone/archive.html %}
  {% include other/tail.html %}  