---
---
{% include other/head.html %}

%body(id="{{ page.id }}")

  {% include zone/site-header.html %}
  
  #content.ajax(data-body-id="{{ page.id }}")    
    %article
      {% include zone/content-header.html %}
      #content-body
        {{ content }}
      {% include zone/content-footer.html %}

  {% include zone/site-menu.html %}  
  {% include zone/site-archive.html %}

  {% include other/tail.html %}  