#dimensions {
  // cursor: url('/img/scissors.cur'), default;
}

#baseline-checkbox {
  visibility: hidden;
  position: absolute;
  z-index: 1200;
  top: tem(2);
  left: tem(2);
}

#baseline-checkbox-label {
  // @include rhythm-scope(small, $sans-small) {
    // @include rhythm-line-height;
    // @include rhythm-font-size;
    // @include rhythm-font-family;

    position: fixed;
    z-index: 1100;
    top: tem(2);
    left: tem(2);
    &:after { content: "\2717"; color: #f44; }
  // }
}

#baseline-checkbox:checked ~ label:after { content: "\2713"; color: #4f4; }
#baseline-checkbox:checked ~ #baseline { visibility: visible; }

.access-key { text-decoration: underline; }

#baseline {
  
  visibility: hidden;
  // @include transition-visually-hidden-to-fade-out(0.8s, 0.6s);
  
  clear: both;
  position: absolute;
  z-index: -100;
  
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  
  // opacity: 0.9;
  
  @if $layout-grid-use-gradients-not-svg {
    $c1: $color-grid;
    $c2: rgba(lighten($c1, 10%), 0.4);
    
    @include background-size(100% tem(), 100% tem(), 100% tem(),
                             tem() 100%, tem() 100%, tem() 100%);
    @include background-image(linear-gradient(top, $c1 0, $c1 1px, $transparent 1px, $transparent 2px),
                              linear-gradient(top, $c2 0, $c2 1px, $transparent 1px, $transparent 2px),
                              linear-gradient(top, $c2 0, $c2 1px, $transparent 1px, $transparent 2px),
                              linear-gradient(left, $c1 0px, $c1 1px, $transparent 1px, $transparent 2px),
                              linear-gradient(left, $c2 0px, $c2 1px, $transparent 1px, $transparent 2px),
                              linear-gradient(left, $c2 0px, $c2 1px, $transparent 1px, $transparent 2px));
    
  } @else {
    @include background-image(image-url('grid.svg', false, false));
    // @include background-image(inline-image('grid.svg'));      
    @include background-size(tem() tem());
    // @include background-size(100% 100%);
  }
}

@if $layout-grid-use-gradients-not-svg {
  .ielt10 {
    #baseline {
      @include background-image(inline-image('grid.svg'));      
      @include background-size(tem() tem());
    }
  }
}

.ielt9, .ielt8 {
  #baseline {
    @include background-image(image-url('grid.png', false, false));
  }
}

h1 {
  margin: 0 0 1em 0;
}

#dimensions pre {
  position: fixed;
  top: tem();
  right: tem();
  width: tem(16);
  color: red;
}
