//      16/22 = 
//      16/23 = 
//      16/24 =
//      16/25 =
//      17/24
  
html {
  font-size: $pprem / $pprem-assumed-default-initial * 100%;
  line-height: 100%;
}

p {
  -webkit-locale: 'en';
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

%tsi4n {
  color: rgba(#222, 0.73);
  @include text-shadow(0px 0px 1px rgba(#000, 0.1)); 
}

body {
  @include color-and-background-color($black, $white);
  @extend %#{$root-font-family};

  text-rendering: optimizelegibility;
}

@include responsify {
  body {
    @include emerem(font-size, $body-ppem);
    @include emerem(line-height, $body-ppgd);
    @include background-image-baseline-grid($body-ppem, $body-ppgd);
  }

  p, h1, .stripe:after, h2, h3 {
    @include emerem(margin, 0 0 $body-ppgd 0);
    @include emerem(padding, 0 ($body-ppgd / 2));
  }

  #main, #rhythm {
    margin: 0 auto;
    @include emerem(max-width, 35 * $body-ppem);
  }

  h1 { @include change-type(pan7n, ex, 2 * $body-ppgd) {} }
  h2 { @include change-type(pan4n, ex, $body-ppgd) {} }
  h3 { @include change-type(pan4n, cap, $body-ppgd) {} }
  .small { @include change-type(pan4n, cap, $body-ppex) {} }
}

.stripe {

  $color-a: $transparent;
  $color-b: $red; // rgba($red, 0.8);
  
  position: relative;
  color: $color-a;  
  &::selection { background: $color-a; color: $color-b; }
  &::-moz-selection { background: $color-a; color: $color-b; }
  
  &:after {
    color: $color-b;
        
    display: block;
    pointer-events: none;
    content: attr(data-content);
    @extend %pan7n-stripe;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;    
  }
}

// #{elements-of-type(inline)} { line-height: 1; }

a {
  color: saturate($blue, 10%);
  @extend %tsn4n-underline;
  text-decoration: none;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

mark {
  //  Addresses styling not present in IE6/7/8/9
  background: #ff0;
  color: #000;
}

pre, code, kbd, samp {
  // Corrects font family set oddly in IE6, S4/5, Chrome - en.wikipedia.org/wiki/User:Davidgothberg/Test59
  font-family: tmn4n, monospace, serif;
  _font-family: tmn4n, 'courier new', monospace;
  font-size: 1em;
  line-height: 1;
}

pre {
  white-space: pre;
  /* @alternate */  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
  &:before, &:after {
    content: '';
    /* @alternate */  content: none;
  }
}

a {
  @include link-colors(/* normal  */ lighten($black, 35%),
                        /* hover   */ lighten($black, 45%),
                        /* active  */ lighten($black, 45%),
                        /* visited */ lighten($black, 25%),
                        /* focus   */ lighten($black, 35%));
}

#container {
  position: relative;
}

#{headings()} {
  clear: both;
}

i, cite, em, var { @extend %tsi4n; line-height: 1; }
strong, b { @extend %tsn7n; line-height: 1; }

@if false {
 
  .copyright {
    @include rhythm-scope(small, $sans-small) { 
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: tem() 0 tem() 0;
    }
  }

  pre {
    @include rhythm-scope(small, tmn4n) {
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: 0 0 tem() 0;    
      white-space: pre;
      word-wrap: normal;
      background-color: rgba(#999, 0.6);
      width: 100%;
    }  
  }

  dd { margin-left: tem(); }
  dt { margin: 0; &:after { content: ":"; } }

  .line-before-list {
    margin-bottom: 0;
  }

  li {
    position: relative;
    display: block;
    list-style-type: none;
  
    ol, ul {
      // @include rhythm-inherited-reset;
      color: lime;
      margin-left: tem();
    }
  }

  ul {
  
    & > li { text-indent: 0; }
    & > li:before {
      content: "";
      background-color: rgba($black, 0.47);    
      position: absolute;
      width: tem(1, 3);
      height: tem(1, 3);
      left: tem(-2, 3);
      // top: tem(2, 3) - $rhythm-baseline-em;
    }
  }

  ol {
    counter-reset: olc;
    & > li { text-indent: tem(-2, 3); }    
    & > li:before {
      @include rhythm-scope(small) {
        display: inline-block; 
        @include rhythm-font-size;
        width: tem(2, 3);
        color: $black;
        text-indent: 0;
        counter-increment: olc;
        content: counter(olc);
      }
    }
    
    ol > li:before { content: counter(olc, lower-alpha); }
    ol ol > li:before { content: counter(olc); }
  }

  .ielt8 {
    li { text-indent: 0; }
    ul, ol { list-style-position: outside; }  
    ol { li { list-style-type: decimal; } }
    ul { li { list-style-type: square; } }  
    li ol { li { list-style-type: lower-alpha; } }
    li ul { li { list-style-type: disc; } }
  }

  blockquote {
    overflow: hidden;
  
    margin: 0 tem(-1) tem() tem(-1);
    color: rgba(#205, 0.92);
  
    p:first-child:before {
      content: "\201c";
      // content: "\275d";
      display: block;
      position: absolute;    
      text-indent: tem(-1, 3);
    }
    
    p:last-child:after {
      content: "\201d";
    }
  
    p {
      margin-bottom: 0;
      &:last-child { margin-bottom: tem(1); }
    }
  
    p + p {
      text-indent: tem();
    }
  }

  table {
    @include rhythm-scope(small, $sans-small) {
      table-layout: fixed;
      width: 100%;
      outline: $color-table-outline solid 1px;
      @include table-alternate($color-table, $color-table-2);    
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: 0 0 tem() 0;
    
      th, td {
        outline: rgba($color-table-outline, 0.6) solid 1px;
        vertical-align: baseline;
        text-align: right;
        padding: 0 tem(0.5) 0 titemle(0.5);
      }
    }
  }

  .sidebar {
    @include rhythm-scope(small-3x2, $sans-small) {
      p {
        @include rhythm-line-height;
        @include rhythm-font-size;
        @include rhythm-font-family;
        margin: 0 0 tem() tem();
        text-align: justify;
        text-justify: newspaper;
        overflow: visible;
      }
    }

    float: right;
    z-index: 200;
    width: tem(7);
    width: 40%;      
    max-width: 56%;
    
    @media all and (max-width: 20em) {
      position: relative;
      @include rhythm-scope(small, $sans-small) {
        line-height: $rhythm-line-height;
        margin: 0 0 tem() 0;
      }
      float: none;
      width: 43%;
      max-width: 100%;
    }
  }

  .sc {
    text-rendering: optimizespeed;
    @extend ._tsn4n-sc;
    font-size: 18/16 * 1em;
  }

  .sc-fake {
    text-rendering: optimizespeed;
    text-transform: uppercase;
    font-size: 0.875em;  
  }

  .sc-font-variant {
    text-rendering: optimizespeed;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 18 / 16 * 1em;
  }

  abbr {
    @extend .sc;
  
    letter-spacing: 1/16 * 1em;
    letter-spacing: 1px;
    // word-spacing: 0.1em;
    border: none;  
    &[title] { border: none; }
  }

  .abbr-like {
    @extend ._tsn4c;
    font-size: 0.8125em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    color: #000;
    &[title] { border: none; }
  }




  .pullquote:before {
  
    @include rhythm-scope(ex-is-tem, $sans-medium) {  
      content: attr(data-pullquote);  
      @extend #{$rhythm-font-family};
      font-size: $rhythm-font-size-em;
      line-height: $rhythm-line-height;
      margin: 0 tem() tem() 0;
      width: tem(9);
      float: left;
      z-index: 200;
      max-width: 60%;
    }

    @media all and (max-width: 20em) {
      position: relative;
      @include rhythm-scope(ex-is-tem, $sans-medium) {
        line-height: $rhythm-line-height;
        margin: 0 0 tem() 0;
      }
      float: none;
      width: 100%;
      max-width: 100%;
    }
  }


  button { height: tem(2); border: none; padding: tem(1, 2); }
  fieldset { margin: 0 0 tem() 0; padding: tem(1) tem(1, 2); border: none; }
  textarea { padding: tem(1, 2); border: none; }

  #type-metrics-calc { float: right; width: tem(4); margin-bottom: tem(); }
  #type-metrics-values { height: tem(8); overflow-y: scroll; background-color: #abc; }

  #type-subset-crawl { float: right; width: tem(4); margin-bottom: tem(); }
  #type-subset-progress { height: tem(2); overflow-y: scroll; background-color: #abc; }
}
