%stripe {
  .s {
    position: relative;
    @include inline-block;
    @include text-shadow(
      $blue-ddd -1px -1px,
      $blue-ddd  1px -1px,
      $blue-ddd -1px  1px,
      $blue-ddd  1px  1px);
  
    color: $red-d;
    ::moz-selection { color: $red-ll; }
    ::selection { color: $red-ll; }
  
    &:after, .data-content {
      color: $red-l;
      @include text-shadow($red-lll 1px -1px, $red-ddd 1px 1px);
        
      @extend %pan7n-stripe;
    
      display: block;
      pointer-events: none;
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: 0;
      height:  100%;
      width: 100%;
      overflow: hidden;    
    }
  }
}
  
h1, h2, h3 {
  clear: both;
  overflow: hidden;  
}

.caps, abbr[title] {
  @extend %tsn4n-smcp;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

.tnum-lnum,
.math {
  @extend %tsn4n-tnum-lnum;
}

code,
.math {
  color: mix($black, $red-d, 20);  
}

code {
  &:before { content: '<'; }
  &:after { content: '>'; }
}

abbr { border: none; }

pre, code, kbd, samp {
  @extend %tmn4n;
  font-size: 1em;
}

i, cite, em, var { @extend %tsi4n; }
strong, b { @extend %tsn7n; }

@if false {
 
  .copyright {
    @include rhythm-scope(small, $sans-small) { 
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: tem() 0 tem() 0;
    }
  }

  pre {
    @include rhythm-scope(small, tmn4n) {
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: 0 0 tem() 0;    
      white-space: pre;
      word-wrap: normal;
      background-color: rgba(#999, 0.6);
      width: 100%;
    }  
  }

  dd { margin-left: tem(); }
  dt { margin: 0; &:after { content: ":"; } }

  .line-before-list {
    margin-bottom: 0;
  }

  li {
    position: relative;
    display: block;
    list-style-type: none;
  
    ol, ul {
      // @include rhythm-inherited-reset;
      color: lime;
      margin-left: tem();
    }
  }

  ul {
  
    & > li { text-indent: 0; }
    & > li:before {
      content: "";
      background-color: rgba($black, 0.47);    
      position: absolute;
      width: tem(1, 3);
      height: tem(1, 3);
      left: tem(-2, 3);
      // top: tem(2, 3) - $rhythm-baseline-em;
    }
  }

  ol {
    counter-reset: olc;
    & > li { text-indent: tem(-2, 3); }    
    & > li:before {
      @include rhythm-scope(small) {
        display: inline-block; 
        @include rhythm-font-size;
        width: tem(2, 3);
        color: $black;
        text-indent: 0;
        counter-increment: olc;
        content: counter(olc);
      }
    }
    
    ol > li:before { content: counter(olc, lower-alpha); }
    ol ol > li:before { content: counter(olc); }
  }

  .ielt8 {
    li { text-indent: 0; }
    ul, ol { list-style-position: outside; }  
    ol { li { list-style-type: decimal; } }
    ul { li { list-style-type: square; } }  
    li ol { li { list-style-type: lower-alpha; } }
    li ul { li { list-style-type: disc; } }
  }

  blockquote {
    overflow: hidden;
  
    margin: 0 tem(-1) tem() tem(-1);
    color: rgba(#205, 0.92);
  
    p:first-child:before {
      content: "\201c";
      // content: "\275d";
      display: block;
      position: absolute;    
      text-indent: tem(-1, 3);
    }
    
    p:last-child:after {
      content: "\201d";
    }
  
    p {
      margin-bottom: 0;
      &:last-child { margin-bottom: tem(1); }
    }
  
    p + p {
      text-indent: tem();
    }
  }

  table {
    @include rhythm-scope(small, $sans-small) {
      table-layout: fixed;
      width: 100%;
      outline: $color-table-outline solid 1px;
      @include table-alternate($color-table, $color-table-2);    
      @include rhythm-line-height;
      @include rhythm-font-size;
      @include rhythm-font-family;
      margin: 0 0 tem() 0;
    
      th, td {
        outline: rgba($color-table-outline, 0.6) solid 1px;
        vertical-align: baseline;
        text-align: right;
        padding: 0 tem(0.5) 0 titemle(0.5);
      }
    }
  }

  .sidebar {
    @include rhythm-scope(small-3x2, $sans-small) {
      p {
        @include rhythm-line-height;
        @include rhythm-font-size;
        @include rhythm-font-family;
        margin: 0 0 tem() tem();
        text-align: justify;
        text-justify: newspaper;
        overflow: visible;
      }
    }

    float: right;
    z-index: 200;
    width: tem(7);
    width: 40%;      
    max-width: 56%;
    
    @media all and (max-width: 20em) {
      position: relative;
      @include rhythm-scope(small, $sans-small) {
        line-height: $rhythm-line-height;
        margin: 0 0 tem() 0;
      }
      float: none;
      width: 43%;
      max-width: 100%;
    }
  }

  .sc {
    text-rendering: optimizespeed;
    @extend ._tsn4n-sc;
    font-size: 18/16 * 1em;
  }

  .sc-fake {
    text-rendering: optimizespeed;
    text-transform: uppercase;
    font-size: 0.875em;  
  }

  .sc-font-variant {
    text-rendering: optimizespeed;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 18 / 16 * 1em;
  }

  abbr {
    @extend .sc;
  
    letter-spacing: 1/16 * 1em;
    letter-spacing: 1px;
    // word-spacing: 0.1em;
    border: none;  
    &[title] { border: none; }
  }

  .abbr-like {
    @extend ._tsn4c;
    font-size: 0.8125em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    color: #000;
    &[title] { border: none; }
  }




  .pullquote:before {
  
    @include rhythm-scope(ex-is-tem, $sans-medium) {  
      content: attr(data-pullquote);  
      @extend #{$rhythm-font-family};
      font-size: $rhythm-font-size-em;
      line-height: $rhythm-line-height;
      margin: 0 tem() tem() 0;
      width: tem(9);
      float: left;
      z-index: 200;
      max-width: 60%;
    }

    @media all and (max-width: 20em) {
      position: relative;
      @include rhythm-scope(ex-is-tem, $sans-medium) {
        line-height: $rhythm-line-height;
        margin: 0 0 tem() 0;
      }
      float: none;
      width: 100%;
      max-width: 100%;
    }
  }


  button { height: tem(2); border: none; padding: tem(1, 2); }
  fieldset { margin: 0 0 tem() 0; padding: tem(1) tem(1, 2); border: none; }
  textarea { padding: tem(1, 2); border: none; }

  #type-metrics-calc { float: right; width: tem(4); margin-bottom: tem(); }
  #type-metrics-values { height: tem(8); overflow-y: scroll; background-color: #abc; }

  #type-subset-crawl { float: right; width: tem(4); margin-bottom: tem(); }
  #type-subset-progress { height: tem(2); overflow-y: scroll; background-color: #abc; }
}
