.hide-from-all { @include hide-from-all; }
.screenreaders-only { @include screenreaders-only; }
.invisible { @include invisible; }
	
.clickable {
  cursor: pointer;
  * { cursor: pointer; }
}

@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
	
body.visit-from-ext {
	-webkit-animation-name: fade-in;
	-webkit-animation-duration: 2.1s;
	-webkit-animation-delay: 1.2s;
	-webkit-animation-fill-mode: backwards;
}

.full-bleed {
  margin: 0 tile(-$layout-text-margin-width) 0 tile(-$layout-text-margin-width);  
}

.half-bleed-right {
  margin: 0 tile(-$layout-text-margin-width) 0 tile($layout-text-margin-width);
  float: right;
  width: 50%;
}

.indented {

  position: relative;
	display: inline-block;
	padding: 2px;
	border-radius: tile(2);
	width: tile(2);
  height: tile(2);
   
 
	background-color: #000;

	-webkit-box-shadow: rgba(255,255,255,.8) 0 2px 3px, rgba(0,0,0,.5) 0 -1px 2px;
	   -moz-box-shadow: rgba(255,255,255,.8) 0 2px 3px, rgba(0,0,0,.5) 0 -1px 2px;
		 -o-box-shadow: rgba(255,255,255,.8) 0 2px 3px, rgba(0,0,0,.5) 0 -1px 2px;
			box-shadow: rgba(255,255,255,.8) 0 2px 3px, rgba(0,0,0,.5) 0 -1px 2px;
			
  &:before {
	  content: "";
	  position: absolute;
	  display: inline-block;
	  z-index: -1;
	  border-radius: tile(2);
	  width: tile(3);
    height: tile(3);
    margin: tile(-1, 2) 0 0 tile(-1, 2);

	
	  background: hsla(0,0%,0%,.05); /* fallback */
	  background: -webkit-gradient(radial, center top, 72, center top, 0, from(hsla(0,0%,100%,.5)), to(hsla(0,0%,50%,.1)));	
	  background: -moz-radial-gradient(50% 0 180deg, circle farthest-side, hsla(0,0%,50%,.05), hsla(0,0%,100%,.4) );
	  background:   -o-radial-gradient(50% 0 180deg, circle farthest-side, hsla(0,0%,50%,.05), hsla(0,0%,100%,.4) );
	  background: 	 radial-gradient(50% 0 180deg, circle farthest-side, hsla(0,0%,50%,.05), hsla(0,0%,100%,.4) );
  }

  .button {	
	  position: absolute;
	  display: inline-block;
	  border: none;
	  border-radius: tile(1);
	  width: tile(2);
	  height: tile(2);
	
	  cursor: pointer;
	  text-align: center;
	
	  background: hsla(0,0%,50%,1); /* fallback */
	  background: #000 -webkit-gradient(radial, center top, tile(4), center top, tile(0.8), from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,.65)));	
	  background: #000 -moz-radial-gradient(50% 0 180deg, circle farthest-side, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, .35) 100%);
	  background: #000   -o-radial-gradient(50% 0 180deg, circle farthest-side, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, .35) 100%);
	  background: #000 	  radial-gradient(50% 0 180deg, circle farthest-side, rgba(255, 255, 255, 0.65) 20%, rgba(255, 255, 255, .35) 100%);
	
	  -webkit-box-shadow: inset rgba(0,0,0,0.2) 0 -3px 4px 1px, inset rgba(252,255,255,0.4) 0 2px 8px 0px, rgba(0,0,0,.8) 0 3px 8px -1px;
	     -moz-box-shadow: inset rgba(0,0,0,0.2) 0 -3px 4px 1px, inset rgba(252,255,255,0.4) 0 2px 8px 0px, rgba(0,0,0,.8) 0 3px 8px -1px;
		   -o-box-shadow: inset rgba(0,0,0,0.2) 0 -3px 4px 1px, inset rgba(252,255,255,0.4) 0 2px 8px 0px, rgba(0,0,0,.8) 0 3px 8px -1px;
			  box-shadow: inset rgba(0,0,0,0.2) 0 -3px 4px 1px, inset rgba(252,255,255,0.4) 0 2px 8px 0px, rgba(0,0,0,.8) 0 3px 8px -1px;

	  .label {	    
        @extend ._an4n;
        color: rgba(#ddd, 0.7);
			  line-height: tile(2);
			  @include text-shadow(0 0 tile(0.2) rgba(#333, 0.9));
    }
  }
}
