//* Note, see _apply-normalize.scss for information on the purpose and scope of this reset. */

// Todo, Jaap Suter, still needed in March 2012? iframe { border: none; }
// Todo, Jaap Suter, still needed in March 2012? div:focus { outline: none; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
