/* Hide from both screenreaders and browsers: h5bp.com/u */
%hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
%invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
%clearfix:before, %clearfix:after { content: ""; display: table; }
%clearfix:after { clear: both; }
%clearfix { *zoom: 1; }

%clickable {
  cursor: pointer;
  * { cursor: pointer; }
}
