%h1.screenreaders-only Menu
%ul
  %li.home
    %a{:href => "/"}
      %span Home
  %li.about
    %a{:href => "#about"}
      %span About
  %li.resume
    %a{:href => "/resume/"}
      %span Resume
  %li.projects
    %a{:href => "/projects/"}
      %span Projects
  %li.archive
    %a{:href => "#archives"}
      %span Archive
  %li.lab
    %a{:href => "/lab/"}
      %span Lab
  %li.contact
    %a{:href => "#contact", :rel => "author"}
      %span Contact
  %li.feed
    %a{:href => "/atom.xml"}
      %span Feed
